@import url("https://fonts.googleapis.com/css?family=Fira+Sans&display=swap");
@mixin breakpoint($type, $prop, $size) {
  @media (#{$type}-#{$prop}: $size) {
    @content;
  }
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Fira Sans", sans-serif;
  font-size: 16px;
  margin: 0;
  font-weight: 300;
  overflow: hidden;
  @include breakpoint(max, width, 1001px) {
    font-size: 13px;
  }
  @include breakpoint(max, width, 600px) {
    font-size: 12px;
  }
}

a {
  text-decoration: none;
}

p {
  display: inline-block;
  width: 100%;
  margin: 5px 0;
  line-height: 25px;
}

img {
  max-width: 100%;
  height: auto;
}

.container {
  margin: 0 auto;
  width: 100%;
  display: flow-root;
}
.hide {
  display: none !important;
}
.bluredImg {
  position: relative;
  background: url(/uploads/WALK/1.1.jpg) no-repeat center center/cover;
  width: 100%;
  height: 100%;
  .load-img{
    margin: 0;
  
  }
  .load-txt{
    margin: 40px 0 0 -30px;
    @include breakpoint(max, width, 1001px){
      margin: 40px 0 0 -20px;
    }
  }
}
.loader {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #fff;
  opacity: 0.9;
 
}
.load-img {
  background: url("/dist/images/loading_gray.png") no-repeat center
    center/cover;
  height: 30px;
  width: 30px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin: -15px 0 0 100px;
  animation: rotate 1.5s linear infinite;
  @include breakpoint(max, width, 1001px) {
    margin: -15px 0 0 -15px;
  }
}
.load-txt {
  position: absolute;
  left: 50%;
  top: 50%;
  margin: 30px 0 0 70px;
  text-align: center;
  color: #1b222a;
  font-weight: 600;
  @include breakpoint(max, width, 1001px) {
    margin: 30px 0 0 -45px;
  }
}
.container-360 {
  height: 100vh;
  background-color: #fff;
  width: 100%;
  display: grid;
  padding-left: 300px;
  align-items: center;

  @include breakpoint(max, width, 1001px) {
    padding-left: 0 !important;
  }
  .threesixty {
    margin-top: 65px;
    cursor: ew-resize;
    margin: 0 auto;
    width: 100%;
    img {
      max-width: inherit;
    }
  }
}

.cover {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: block;
  float: left;
  position: fixed;
  visibility: hidden;
  cursor: grab;
  &:active {
    cursor: grabbing;
  }
  &.on {
    display: block;
    visibility: visible;
  }
}

.sidebar {
  width: 300px;
  background: #fff;
  padding: 0 20px 0 20px;
  position: fixed;
  height: 100%;
  min-height: 200px;
  z-index: 9;
  border-right: 1px solid #ccc;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  @include breakpoint(max, width, 1001px) {
    z-index: auto !important;
    position: absolute !important;
    border-right: none !important;
    justify-content: center !important;
    width: 0;
  }
  .logo-cl {
    display: block;
    margin: 0 auto;
    transition-duration: 0.5s;
    transform: translateY(20px);
    &:hover {
      transform: translateY(10px);
    }
    @include breakpoint(max, width, 1001px) {
      display: none;
    }
  }
  .scroll-menu {
    display: flex !important;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 2rem;
    @include breakpoint(max, width, 1001px) {
      position: fixed !important;
      z-index: 10 !important;
      padding: 0 !important;
      top: 0;
      bottom: 0;
    }

    .inline-btn {
      padding: 2px 0;
      @include breakpoint(max, width, 1001px) {
        display: flex !important;
        flex-direction: column !important;
        top: calc(50% - 105px);
        position: fixed;
        &:first-child {
          right: 3%;
        }
        &:nth-child(2) {
          left: 3%;
        }
      }

      .btn-round {
        height: 40px;
        width: 40px;
        display: inline-block;
        background-repeat: no-repeat;
        background-size: 40px;
        background-position: center;
        margin: 5px;
        position: relative;
        transition: background 0.5s;
        &.move {
          background-image: url("/dist/images/pan_black.png");
        }
        &.move:hover{
          background-image: url("/dist/images/pan_red.png");
        }
        &.move.active {
          background-image: url("/dist/images/pan_red.png");
        }
        &.zoom {
          background-image: url("/dist/images/zoom_in_black.png");
        }
        &.zoom:hover {
          background-image: url("/dist/images/zoom_in_red.png");
        }
        &.dezoom {
          background-image: url("/dist/images/zoom_out_black.png");
        }
        &.dezoom:hover {
          background-image: url("/dist/images/zoom_out_red.png");
        }
        &.rotation {
          background-image: url("/dist/images/play_black.png");
        }
        &.rotation:hover {
          background-image: url("/dist/images/play_red.png");
        }
        &.rotation-stop {
          background-image: url("/dist/images/play_red.png");
        }
        &.rotation-stop:hover {
          background-image: url("/dist/images/play_red.png");
        }
        &.galerie {
          background-image: url("/dist/images/gallery_black.png");
        }
        &.galerie:hover {
          background-image: url("/dist/images/gallery_red.png");
        }
        &.full-screen-btn {
          background-image: url("/dist/images/full_screen_black.png");
        }
        &.full-screen-btn:hover {
          background-image: url("/dist/images/full_screen_red.png");
        }
        @include breakpoint(max, width, 1001px) {
          height: 37px;
          width: 37px;
          background-size: 37px;
        }
        @include breakpoint(max, width, 400px) {
          height: 25px;
          width: 25px;
          background-size: 25px;
        }
        @include breakpoint(max, height, 650px){
          @include breakpoint(min, width, 1001px){
            height: 35px;
            width: 35px;
            background-size: 35px;
          }
        }
        cursor: pointer;
        & > span {
          position: absolute;
          width: max-content;
          min-width: 100px;
          padding: 5px 10px;
          top: 45px;
          left: -30px;
          background-color: #fff;
          color: #1b222a;
          border: 1px solid #ddd;
          z-index: 1;
          transform: rotateX(-90deg);
          transform-origin: top;
          transition: color 0.3s, transform 0.5s;
          color: #fff;
        }
        &:hover > span {
          color: #1b222a;
          transform: rotateX(0);
        }
      }
    }
    .inline-vertical-btn {
      padding: 20px 0 0 0;
      & > div {
        padding: 0;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        max-height: none !important;

        @include breakpoint(max, width, 1001px) {
          display: flex;
          justify-content: center;
          flex-wrap: wrap;
          margin: auto;
          flex-direction: row;
          transform: rotate(180deg);
          &>* {
            transform: rotate(180deg);
          }
        }
        @include breakpoint(max, height, 650px){
          @include breakpoint(min, width, 1001px){
            flex-direction:row;
            flex-wrap:wrap;
          }
        }
      }
      @include breakpoint(max, width, 1001px) {
        position: fixed;
        left: 0;
        right: 0;
        bottom: 5%;
        margin: 0 auto;
      }
    }
  }
  .le-veLogo {
    height: auto;
    margin: 0 auto;
    margin-top: -3rem;
    display: block;
    max-width: 80%;
    transition-duration: 0.5s;
    transform: translateY(15px);
    &:hover {
      transform: translateY(0);
    }
    @include breakpoint(max, width, 1001px) {
      display: none;
    }
  }
}
.btn-disabled{
  position: relative;
  display: inline-block;
  text-align: center;
  margin: 1.5px;
  color: #000;
  font-weight: 500;
  padding: 6px 46px;
  background: yellow;
  transition: background 0.5s, color 0.5s, border 0.5s;
  z-index:1;
  @include breakpoint(min, width, 1001px){
    display: none;
  }
}
.btn {
  position: relative;
  display: inline-block;
  text-align: center;
  margin: 1.5px;
  border: 1px solid #fff;
  color: #fff;
  font-weight: 500;
  padding: 6px 46px;
  background: #000;
  transition: background 0.5s, color 0.5s, border 0.5s;
  z-index:1;
  cursor: pointer;
  @include breakpoint(max, width, 1001px){
    display: none;
  }
  @include breakpoint(max, height, 650px){
    @include breakpoint(min, width, 1001px){
      flex:1;
      padding: 5px 46px;
      font-size: 0.9rem;
    }
  }
  &:hover {
    background: #ccc;
    border-color: #ccc;
    color: #000;
  }
  &.active {
    background: #f00;
    &:hover {
      background: #f00;
      border-color: #f00;
      color: #fff;
    }
  }
}
.dropdown-menu {
  position: fixed;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
  .btn-showMore {
    display: none;
    @include breakpoint(max, width, 1001px){
      display: block !important;
    }
    background-color: #777;
    &:hover{
      background-color: #ccc;
    }
    i {
      // @include breakpoint(max, width, 1001px) {
      //   transform: rotateX(180deg);
      // }
      margin-left: 5px;
      transform: rotateX(0deg);
      transition: transform 0.3s linear;
    }
  }
  .dropdown-inner {
    background: #777;
    margin: 0;
    margin-top: -2px;
    transform-origin: top;
    transition: all 0.3s linear;
    padding: 0;
    list-style: none;
    position: absolute;
    left: 2px;
    right: 2px;
    width: auto;
    z-index: 200;
    transform: rotateX(-90deg);
    // @include breakpoint(max, width, 1001px) {
    //   bottom: 95%;
    //   transform-origin: bottom;
    // }
    &:before {
      display: none; // you can remove it later
      content: "";
      height: 0;
      border-top: 7px solid #777;
      border-left: 100px solid transparent;
      border-right: 100px solid transparent;
      border-bottom: 0 solid #dddddd;
      position: absolute;
      top: 100%;
      left: 0;
      z-index: 101;
      transition: all 0.3s linear;
      @include breakpoint(max, width, 1001px) {
        border: none;
      }
    }
    .dropdown-btn {
      padding: 5px 0;
    }
    .dropdown-btn a {
      transition: all 0.15s linear;
      color: #777;
      i {
        transition: all 0.3s linear;
        color: #f00;
        &.fa-caret-right {
          transform: translateX(-10px) rotateX(-90deg);
        }
        &.fa-caret-left {
          transform: translateX(10px) rotateX(90deg);
        }
      }
    }
  }
  &.active-dropdown {
    .dropdown-inner {
      transform: rotateX(0deg);
    }
    .btn-showMore {
      background: #ccc;
      border-color: #ccc;
      color: #000;
      text-align: center;
      i {
        // @include breakpoint(max, width, 1001px) {
        //   transform: rotateX(0deg);
        // }
        transform: rotateX(180deg);
      }
    }
    .dropdown-btn .maq-change {
      color: #fff;
      cursor: pointer;

      &:hover{
        color: #f00;
        i {
          &.fa-caret-right {
            transform: translateX(-3px);
          }
          &.fa-caret-left {
            transform: translateX(3px);
          }
        }
      }
      &.active {
        color: #f00;
        i {
          &.fa-caret-right {
            transform: translateX(-3px);
          }
          &.fa-caret-left {
            transform: translateX(3px);
          }
        }
      }
    }
  }
}

// .side-navigation {
//   height: 100%;
//   width: 300px;
//   transform: translateX(-100%);
//   position: fixed;
//   z-index: 10;
//   top: 0;
//   left: 0;
//   background-color: #111;
//   opacity: 0.95;
//   overflow: hidden;
//   transition: all 0.4s;
//   .closebtn {
//     display: block;
//     position: absolute;
//     top: 1.2%;
//     right: 5.5%;
//     font-size: 36px;
//     margin-left: 50px;
//     color: #fff;
//   }
//   ul {
//     display: flex;
//     flex-direction: column;
//     height: 100%;
//     text-align: center;
//     justify-content: center;
//     align-items: center;
//     padding: 0;
//     list-style: none;
//     transition: all 0.3s;
//     li {
//       margin: 1rem 0;
//     }
//   }
// }
// .sidebar-visible {
//   transform: translateX(0);
// }

:fullscreen {
  .container-360 {
    padding-left: 0;
  }
  .sidebar {
    z-index: auto;
    position: absolute;
    border-right: none;
    justify-content: center;
  }
  .scroll-menu {
    position: fixed;
    left: 2%;
    display: block;
    z-index: 10;
    padding: 0;
  }
  .removeAndAddEl {
    display: none !important;
  }
  .inline-btn {
    display: flex;
    flex-direction: column;
  }
  .btn-round {
    height: 37px;
    width: 37px;
    display: inline-block;
    background-repeat: no-repeat;
    background-size: 37px;
    
  }
}

@keyframes rotate {
  to {
    transform: rotate(360deg);
  }
}
