$dark-color: #333;
$white-color: #fff;
$main-color: #16406e;
$secondary-color: #ac3b61;
$grey-color: #bab2b5;
$black-color: #000;
html {
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Segoe UI", Arial, Helvetica, Sans Serif;
  font-size: 1rem;
  overflow-x: hidden;
  &::-webkit-scrollbar {
    width: 12px;
    background-color: #f5f5f5;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: #777;
    &:hover {
      background-color: #666;
    }
  }
}

/* Utilities */
a {
  text-decoration: none;
}

.lead {
  font-size: 1.3rem;
  margin-bottom: 2rem;
}

.lead-m {
  font-size: 1.1rem;
  margin-bottom: 0.5rem;
}

.btn {
  display: inline-block;
  color: $white-color;
  background: $main-color;
  border: none;
  margin-right: auto;
  padding: 1rem 4rem;
}

.l-heading {
  color: $black-color;
  font-size: 3rem;
  -webkit-animation: fadeIn1 0.9s 1;
  animation: fadeIn1 0.9s 1;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

.m-heading {
  color: $black-color;
  font-size: 2rem;
  -webkit-animation: fadeIn1 0.9s 1;
  animation: fadeIn1 0.9s 1;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

.fix-search {
  background: $black-color;
}
.mt-0 {
  margin-top: 0;
}
.mt-1 {
  margin-top: 1rem;
}
.mt-2 {
  margin-top: 2rem;
}
.mt-3 {
  margin-top: 3rem;
}
.mb-0 {
  margin-bottom: 0;
}
.mb-1 {
  margin-bottom: 1rem;
}
.mb-2 {
  margin-bottom: 2rem;
}
.mb-3 {
  margin-bottom: 2rem;
}
ul {
  list-style: none;
}
.text-white {
  color: $white-color;
}

/* Navbar Toggler d-none on large screen*/
.closebtn {
  display: none;
}

.openbtn {
  display: none;
}

.togglerBtn {
  display: none;
}

/* Button Clases on Scroll */

.homeNav{
  color: #16406e !important;
}
.aboutNav{
  color: #ac3b61 !important;
}
.workNav {
  color: #f79e02 !important;
}
.processNav {
  color: #333 !important;
}
.servicesNav {
  color: #333 !important;
}
.contactNav {
  color: #c30707 !important;
}
.active {
  color: #fff !important;
  &:before {
    content: "";
    opacity: 1 !important;
    transform: translateY(0) !important;
  }
  &:after {
    content: "";
    opacity: 1 !important;
    transform: translateY(0) !important;
  }
  &:hover {
    &:before {
      transform: translateY(-2px) !important;
    }
    &:after {
      transform: translateY(2px) !important;
    }
  }
}
.allATagsWhite {
  color: $white-color !important;
}
.allATagsWhite:hover {
  color: #eee !important;
}

/* Main Header Img And Opacity */
#main-header {
  position: relative;
  width: 100%;
  height: 100vh;
  background: url("/img/macbookOnChair.jpg") no-repeat center center/cover;
  background-attachment: fixed;
  z-index: 1;

  .opacity-2 {
    z-index: 2;
    width: 100%;
    height: 100vh;
    background: rgba(100, 100, 100, 0.1);
  }
  #navbar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    top: 0;
    width: 100%;
    height: 4.5rem;
    background: rgba($color: #333, $alpha: 0.35);
    position: fixed;
    padding-top: 0.5rem;
    padding-right: 6rem;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    z-index: 2234340;

    .nav-brand {
      position: absolute;
      left: 2rem;
      top: 0;
      width: 7rem;
      height: 4.5rem;
      opacity: 0;
      -webkit-animation: fadeIn1 0.9s 1;
      animation: fadeIn1 0.9s 1;
      -webkit-animation-fill-mode: forwards;
      animation-fill-mode: forwards;
    }
    ul {
      position: absolute;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      list-style: none;
      right: 0;
      margin-right: 1.5rem;

      li {
        color: $white-color;
        display: inline-block;
        margin-right: 10px;
        opacity: 0;
        -webkit-animation: fadeIn 0.9s 1;
        animation: fadeIn 0.9s 1;
        -webkit-animation-fill-mode: forwards;
        animation-fill-mode: forwards;
        &:nth-child(5n + 1) {
          -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
        }
        &:nth-child(5n + 2) {
          -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
        }
        &:nth-child(5n + 3) {
          -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
        }
        &:nth-child(5n + 4) {
          -webkit-animation-delay: 0.8s;
          animation-delay: 0.8s;
        }
        &:nth-child(5n + 5) {
          -webkit-animation-delay: 1s;
          animation-delay: 1s;
        }
        &:nth-child(5n + 6) {
          -webkit-animation-delay: 1.2s;
          animation-delay: 1.2s;
        }
        &:nth-child(5n + 7) {
          -webkit-animation-delay: 1.4s;
          animation-delay: 1.4s;
        }
        &:nth-child(5n + 8) {
          -webkit-animation-delay: 1.4s;
          animation-delay: 1.4s;
        }
        a {
          position: relative;
          letter-spacing: 0.5px;
          font-weight: 600;
          font-size: 1rem;
          text-transform: uppercase;
          padding: 0.55rem;
          margin: 0 0.25rem;
          margin-right: 10px;
          -webkit-transition: all 0.3s;
          transition: all 0.3s;
          &:before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 2px;
            background: #fff;
            opacity: 0;
            transition: opacity 0.3s, transform 0.3s;
            transform: translateY(-10px) rotate(5deg);
          }
          &:after {
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 2px;
            background: #fff;
            opacity: 0;
            transition: opacity 0.3s, transform 0.3s;
            transform: translateY(10px) rotate(5deg);
          }
          &:hover {
            color: #fff !important;
            &:before {
              transform: translateY(0);
              opacity: 1;
              color: #fff;
            }
            &:after {
              transform: translateY(0);
              opacity: 1;
              color: #fff;
            }
          }
        }
      }
    }
  }
}

/* Showcase */
.showcase {
  top: -5%;
  left: 60%;
  right: 10%;
  height: 100%;
  color: rgb(170, 164, 164);
  position: absolute;
  .showcase-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    text-align: left;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: left;
    -ms-flex-align: left;
    align-items: left;
    height: 100%;
    color: #333;
    p {
      -webkit-animation: fadeIn2 1.2s 1;
      animation: fadeIn2 1.2s 1;
      -webkit-animation-fill-mode: forwards;
      animation-fill-mode: forwards;
    }
    a {
      -webkit-animation: fadeIn4 1.5s 1;
      animation: fadeIn4 1.5s 1;
      -webkit-animation-fill-mode: forwards;
      animation-fill-mode: forwards;
    }
  }
}

/* About & Skills section */
#about-section {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
  width: 100%;
  height: 100vh;
  background: #eee2dc;
  .about {
    position: relative;
    width: 60%;
    height: 45vh;
    ul {
      list-style: none;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      text-align: center;
      margin: auto;
      padding: 0;
      li h1 {
        margin-top: 5.5rem;
        transform: translateX(120px);
        transition: all 1s ease-in-out;
        visibility: hidden;
        opacity: 0;
      }
      li p {
        padding-bottom: 0;
        margin-bottom: 1rem;
        transform: translateX(120px);
        transition: all 1s ease-in-out;
        visibility: hidden;
        opacity: 0;
      }
      .signature {
        margin-top: 0;
        padding-top: 1rem;
        width: 50%;
        height: 12vh;
        transform: translateX(120px);
        transition: all 1s ease-in-out;
        visibility: hidden;
        opacity: 0;
        background: url("/img/signature.png") no-repeat center center/cover;
        &.show {
          transform: none;
          visibility: visible;
          opacity: 1;
        }
      }

      li.show h1 {
        transform: none;
        visibility: visible;
        opacity: 1;
      }
      .show p {
        transform: none;
        visibility: visible;
        opacity: 1;
      }
    }
  }
}

.skills {
  position: relative;
  height: 55vh;
  width: 100%;
  margin: 0;
  background: url("/img/image8.jpg");
  background-color: #000102;
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-position: right top;
  .opacity-image-skills {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: left;
    -ms-flex-align: left;
    align-items: left;
    justify-content: center;
    text-align: left;
    padding-left: 2.5rem;
    height: 55vh;
    width: 100%;
    background: rgba(0, 0, 0, 0.3);
    span {
      transform: translateX(120px);
      width: 60%;
      transition: all 1s ease-in-out;
      visibility: hidden;
      opacity: 0;
      &.show {
        transform: none;
        visibility: visible;
        opacity: 1;
      }
      .progress {
        width: 90%;
        overflow: hidden;
        height: 4px;
        background: #ccc;
        border-radius: 5px;
        margin-bottom: 0.6rem;
        .progress-75{
          width: 75%;
        }
        .progress-90{
          width: 90%;
        }
        .progress-65{
          width: 65%;
        }
        div {
          width: 100%;
          height: 100%;
          background: $secondary-color;
        }
      }
    }
  }
}
.show {
  transform: none;
  visibility: visible;
  opacity: 1;
}

#work-section {
  width: 100%;
  height: 100vh;
  .work-bar {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    height: 30vh;
    color: #eee;

    div {
      padding: 3rem;
      background: #333;
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      ul {
        display: flex;
        text-align: left;
        justify-content: center;
        align-items: center;
        i {
          margin-right: 1rem;
        }
        h3 {
          margin-top: 1rem;
          margin-bottom: 0;
        }
        p {
          margin-top: 0;
          margin-bottom: 1rem;
        }
      }
    }
  }
  .items {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    height: 60vh;
    .item {
      position: relative;
      background: #f79e02;
      overflow: hidden;
      z-index: 0;
      &:after {
        content: "";
        position: absolute;
        display: block;
        background: #f79e02;
        opacity: 0.9;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        transform: scale(2) translateX(-75%) translateY(-75%) rotate(-28deg);
        transition: transform 0.6s ease-in-out;
      }
      &:hover:after {
        transform: scale(2) translateX(0) translateY(0) rotate(-28deg);
      }
      &:hover .item-image {
        transform: scale(1.1);
      }

      .item-image {
        display: block;
        transform: translateZ(0);
        transition: transform 550ms ease-in-out;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        line-height: 0;
        &.img-1 {
          background: url("/img/workSectionImg1.jpg");
          background-position: center center;
          background-size: cover;
        }
        &.img-2 {
          background: url("/img/workSectionImg2.jpg");
          background-position: center center;
          background-size: cover;
        }
        &.img-3 {
          background: url("/img/workSectionImg3.jpg");
          background-position: center center;
          background-size: cover;
        }
        &.img-4 {
          background: url("/img/workSectionImg4.jpg");
          background-position: center center;
          background-size: cover;
        }
        &.img-5 {
          background: url("/img/workSectionImg5.jpg");
          background-position: center center;
          background-size: cover;
        }
        &.img-6 {
          background: url("/img/workSectionImg6.jpg");
          background-position: center center;
          background-size: cover;
        }
        &.img-7 {
          background: url("/img/workSectionImg7.jpg");
          background-position: center center;
          background-size: cover;
        }
        &.img-8 {
          background: url("/img/workSectionImg8.jpg");
          background-position: center center;
          background-size: cover;
        }
        &:before {
          content: "";
          display: block;
          padding-top: 75%;
          overflow: hidden;
        }
        img {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          line-height: 0;
        }
      }
      &:hover .item-text {
        opacity: 1;
        transform: translateY(0);
      }
      .item-text {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        opacity: 0;
        text-align: center;
        z-index: 1;
        color: #000;
        transition: opacity 500ms ease-in-out;
        transition-delay: 300ms;
        .item-text-wrap {
          position: absolute;
          width: 100%;
          top: 50%;
          transform: translateY(-50%);
          i {
            cursor: pointer;
          }
        }
      }
    }
  }
  .load-more {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    height: 10vh;
    background: #333;
    color: #eee;
    cursor: pointer;
    h2 {
      margin: 0;
      letter-spacing: 1.2px;
      font-size: 1.5rem;
      font-weight: 300;
    }
  }
}
#process-section {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  .process-text {
    height: 30vh;
    text-align: center;
    span {
      h1 {
        padding-top: 2.4rem;
      }
      p {
        margin-top: 0.7rem;
        width: 70%;
        margin: auto;
      }
    }
  }
  .process-video {
    width: 100%;
    height: 70vh;
    position: relative;
    video {
      margin-bottom: 0.7rem;
      margin-top: -1rem;
      left: 0;
      right: 0;
      max-height: 100%;
      max-width: 90%;
      box-shadow: 0px 0px 38px -10px rgba(0, 0, 0, 0.85);
    }
    a {
      position: absolute;
      margin-left: auto;
      margin-right: auto;
      left: 0;
      right: 0;
      width: 10%;
      top: 40%;
      opacity: 1;
      transition: all 1s;
      i {
        z-index: 1;
        font-size: 4rem;
      }
    }
  }
}

// Services And Testimoninals

#services-and-testimonials-section {
  height: 100vh;

  .services {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25%, 1fr));
    grid-template-rows: repeat(auto-fit, minmax(25%, 1fr));
    height: 60vh;
    div {
      background: #eee;
      padding: 16% 10% 4% 10%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-align: center;
      &:nth-child(1) {
        padding-bottom: 0;
      }
      &:nth-child(2) {
        padding-bottom: 0;
        h5 {
          margin-top: 0.5rem;
        }
      }
      &:nth-child(3) {
        padding-bottom: 0;
      }
      &:nth-child(4) {
        padding-bottom: 0;
      }
      i {
        color: #555;
      }
      h5 {
        color: #222;
        margin-bottom: 0;
        margin-top: 1rem;
        padding-bottom: 0;
        font-size: 1.65rem;
        text-transform: uppercase;
        font-weight: 450;
      }
      p {
        color: #444;
        font-size: 1rem;
      }
    }
  }
  .testimonials {
    background: #14a76c;
    overflow: hidden;
    height: 40vh;
    width: 100%;
    position: relative;

    #prevBtn {
      position: absolute;
      top: 50%;
      left: 3%;
      font-size: 2rem;
      opacity: 0.75;
      color: white;

      transition: all 0.3s;
      &:hover {
        opacity: 0.7;
        font-size: 2.1rem;
      }
    }
    #nextBtn {
      position: absolute;
      top: 50%;
      right: 3%;
      font-size: 2rem;
      opacity: 0.75;
      color: white;

      transition: all 0.3s;
      &:hover {
        opacity: 0.7;
        font-size: 2.1rem;
      }
    }
    .slider {
      min-width: 100%;
      height: 100%;
      display: flex;
      text-align: center;
      align-items: center;
      .testimonial-item {
        min-width: 100%;
        color: white;
        h5 {
          width: 60%;
          margin: auto;
          font-size: 1.6rem;
          font-weight: 400;
          padding-bottom: 1rem;
          z-index: -6234;
        }
        p {
          margin: auto;
        }
      }
    }
  }
}
//Contact Section

#contact-section {
  min-height: 80vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  .logos {
    grid-area: logo;
    padding-top: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    img {
      padding-bottom: 1rem;
      width: 50%;
      height: 70%;
    }
  }
  .logo-1 {
    grid-area: logo-1;
  }
  .container {
    grid-area: container;
    margin: 0 auto;
    margin-top: 2rem;
    width: 75%;
    h2 {
      margin-top: 0;
      text-align: center;
      font-size: 2.5rem;
      letter-spacing: 1px;
      font-weight: 400;
      margin-bottom: 0.5rem;
    }
    .bottom-line {
      height: 2px;
      width: 3.5rem;
      background: #c30707;
      display: block;
      margin: 0 auto 0.6rem auto;
    }
    p {
      text-align: center;
      font-size: 1.2rem;
      padding: 0 2rem;
      letter-spacing: 0.65px;
      margin: 0 0 1.3rem 0;
    }
    .text-fields {
      display: grid;
      grid-auto-columns: repeat(auto-fit);
      grid-auto-rows: repeat(auto-fit);
      grid-template-areas:
        "name email"
        "subject phone"
        "message message";
      grid-gap: 1rem;
      margin-bottom: 1.1rem;
      .name-input {
        grid-area: name;
      }
      .subject-input {
        grid-area: subject;
      }

      .email-input {
        grid-area: email;
      }

      .phone-input {
        grid-area: phone;
      }

      .message-input {
        font-size: 1.3rem !important;
        grid-area: message;
        resize: none;
        height: 160px;
      }
      .text-input {
        font-size: 1rem;
        padding: 0.8rem 1.4rem;
        border: 1px solid #888;
        &:focus {
          outline: none;
          border-color: #c30707;
        }
      }
    }
    button {
      display: block;
      margin: 0 auto;
      width: 40%;
      height: 3rem;
      border: none;
      color: #fff;
      background-color: #c30707;
      border-radius: 2px;
      font-size: 1.5rem;
      letter-spacing: 1px;
      font-weight: 400;
      margin-top: 1.4rem;
      transition: all 0.4s;
      &:hover {
        opacity: 0.95;
        background-color: #cc0808;
      }
    }
  }
}

.footer {
  height: 20vh;
  background: #222;
  color: #fff;
  .footer-content {
    padding: 0 2.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    div {
      h3 {
        margin-bottom: 0.7rem;
        font-size: 1.5rem;
        color: #db1818;
      }
      p {
        margin-top: 0.7rem;
        font-size: 1.3rem;
      }
    }
    .social {
      .fab {
        margin-right: 1rem;
        border: 2px #fff solid;
        border-radius: 50%;
        height: 45px;
        width: 45px;
        line-height: 25px;
        text-align: center;
        padding: 0.5rem;
        transition: all 0.4s;

        &:hover {
          background: #c30707;
        }
      }
      .fas {
        margin-left: 4rem;
        border: 2px #fff solid;
        border-radius: 50%;
        height: 45px;
        width: 45px;
        line-height: 25px;
        text-align: center;
        padding: 0.5rem;
        color: #fff;
        transition: all 0.4s;
        &:hover {
          background: #c30707;
        }
      }
    }
  }
}

/* Animation */
@keyframes fadeIn {
  0% {
    -webkit-transform: translateY(-100%) rotate(-8deg);
    transform: translateY(-100%) rotate(-8deg);
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeIn1 {
  0% {
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn1 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeIn2 {
  0% {
    opacity: 0;
    -webkit-transform: translateX(40%);
    transform: translateX(40%);
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn2 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeIn4 {
  0% {
    opacity: 0;
    -webkit-transform: translateY(70%);
    transform: translateY(70%);
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn4 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
