/* .sidebar{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.sidebar >a {
    flex-basis: 20%;

}
.sidebar .vertical-center{
    flex-basis: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

}

.sidebar .vertical-center a{
    position: relative;
    left: 0;
    margin: 0;
    bottom: 0;
    
}
.sidebar .vertical-center a:hover{
    transform: translateY(-10px);
}
.sidebar .menu{
    padding-top: 0;
}


@media (max-width:1001px){
    .sidebar{
        display: none;
    
    }
    
} */


.sidebar .vertical-center {
    height: 70vh !important;
}
.sidebar .vertical-center> a{
    bottom: 0 !important;
}
.sidebar .vertical-center> a:hover{
    transform: translateY(-10px);
}
.sidebar .vertical-center{
    margin-top: 1rem !important;
    margin-bottom: 1rem !important;
}
@media (max-height:750px){

    .sidebar .vertical-center a img{
        max-width:80% !important;
    }
}
@media (max-height:620px){


    .sidebar .vertical-center a img{
        max-width:70% !important;
    }
}



@media (max-height:700px){

    .sidebar .vertical-center{
        margin-top: 3rem !important;
       align-items: center !important;
    }
}

@media (max-height:550px){


    .sidebar .vertical-center{
        margin-top: 0.5rem !important;
       align-items: none !important;
    }
}
@media (max-width:1001px){
    .buttons-fixed-middle{
        position: fixed;
        bottom: 0;
        left: 50%;
        transform: translate(-50%,-50%);
    }
}